body{
    background-color: #eeee;
}
    
h2{
    background-color: lightgreen;
    font-weight: 900;
}
.name-hotel{
    color: grey;
    font-weight: 700;
}

.description-hotel{
    color: aqua;
    font-weight: 700;
}
.parking-hotel{
    color: lightskyblue;
    font-weight: 700;
}
.vote-hotel{
    background-color: black;
    color: white;
    font-weight: 700;
}