
    
h2{
    background-color: lightgreen;
    font-weight: 900;
}
.name-hotel{
    background-color: lightgrey;
    border: 5px solid black;
}

.description-hotel{
    background-color: aqua;
}
.parking-hotel{
    background-color: lightskyblue;
}
.vote-hotel{
    background-color: black;
    color: white;
}