body{
    background-color: #eeee;
}
.square{
    width: calc(100% / 5);
}
.box-hotel{
    border: 5px solid black;
}
 
h5{
    background-color: lightgreen;
    font-weight: 900;
}
.name-hotel{
    color: grey;
    font-weight: 700;
}

.description-hotel{
    color: blue;
    font-weight: 700;
}
.parking-hotel{
    color: lightskyblue;
    font-weight: 700;
}
.vote-hotel{
    background-color: black;
    color: white;
    font-weight: 700;
}